

/* Roots */
:root {
  /* =========================
     FARVER
  ========================= */

  /* Farver til layout */
  --color-burgundy: #5F1722;
  --color-cream: #FBE6BC;
  --color-brown: #824916;
  --color-mauve: #B59494;
  --color-pale-yellow: #E7E7B0;
  --color-white: #FFFFFF;


  /* =========================
     TYPOGRAFI
  ========================= */

  --font-heading: "Merriweather", serif;
  --font-body: "Merriweather Sans", sans-serif;

 /* =========================
     TEKSTSTØRRELSER
  ========================= */

  --text-button: 24px;   /* lille tekst til knap */
  --text-button: 35px;   /* almindelig tekst til knap */
  --text-bodytext: 25px;      /* brødtekst */
  --text-mediumtitle: 30px;   /* underoverskrifter */
  --text-title: 40px;      /* store titler */
}

 /* =====================================
     LAYOUT - MOBIL STØRRELSE IPHONE 17
  ===================================== */

html, body {
    margin: 0;
    min-height: 100%;
    background: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .phone {
    width: 402px;
    height: 874px;
    max-width: 100vw;
    max-height: 100dvh;
    overflow: hidden;
    background: var(--color-burgundy);
    position: relative;
  }
  
  /* På mobil: fyld hele skærmen */
  @media (max-width: 500px) {
    body {
      display: block;
    }
  
    .phone {
      width: 100vw;
      height: 100dvh;
    }
  }


/* Paula css */


/* Signe css */


/* Maria css */


/* Sofie css */
